<article>
  <form action="/api/sessions/recoverPass" method="post">
    <header><h3>Recover your password here:</h3></header>
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="newPassword" placeholder="New Password" required />
    <footer>
      
      <input type="submit" value="Recover" class="outline" />
    </footer>
  </form>
</article>