<main class="container">
    <h1>¡Hi {{name}}! Welcome to the shop</h1>
    
    <p>These are our available products:</p>
    <div id="divProducts">
        
    </div>

</main>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>