<main class="container">
    <h1>¡Hi {{name}}! Welcome to the shop</h1>
    <p>Clic aquí para ingresar a la tinda</p>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>